<footer class="bg-[rgba(240,240,244,255)] text-gray-700 py-8 pr-10 md:pr-40 pl-10 md:pl-40 pt-10 md:pt-20">
    <div class="container mx-auto px-4 grid grid-cols-2 md:grid-cols-5 gap">
      <!-- Swiggy Logo and Copyright -->
      <div class="col-span-2 md:col-span-1 flex flex-col items-start">
        <img src="logo.png" alt="Swiggy" class="h-10 mb-2" />
        <p>&copy; 2024 Swiggy Limited</p>
      </div>
  
      <!-- Company Section -->
      <div class="pl-4 md:pl-4">
        <h3 class="font-bold">Company</h3>
        <ul class="space-y-3">
            <li><a href="https://careers.swiggy.com/#/" class="hover:underline">About Us</a></li>
            <li><a href="https://www.swiggy.com/corporate/" class="hover:underline">Swiggy<br>Corporate</a></li>
            <li><a href="https://careers.swiggy.com/#/" class="hover:underline">Careers</a></li>
            <li><a href="https://careers.swiggy.com/#/" class="hover:underline">Team</a></li>
            <li><a href="https://www.swiggy.com/swiggy-super" class="hover:underline">Swiggy One</a></li>
            <li><a href="https://www.swiggy.com/instamart" class="hover:underline">Swiggy<br>Instamart</a></li>
            <li><a href="https://www.dineout.co.in/" class="hover:underline">Swiggy<br>Dineout</a></li>
            <li><a href="https://www.swiggy.com/swiggy-genie" class="hover:underline">Swiggy<br>Genie</a></li>
            <li><a href="https://mini.store/" class="hover:underline">Minis</a></li>
          </ul>          
      </div>
  
      <!-- Contact Us Section -->
      <div>
        <h3 class="font-bold">Contact us</h3>
        <ul class="space-y-3">
          <li><a href="https://www.swiggy.com/support" class="hover:underline">Help &<br> Support</a></li>
          <li><a href="https://partner-with-us.swiggy.com/onboard#/swiggy" class="hover:underline">Partner With<br> Us</a></li>
          <li><a href="https://ride.swiggy.com/" class="hover:underline">Ride With Us</a></li>
        </ul>
        <br><br>
        <h3 class="font-bold">Legal</h3>
        <ul class="space-y-3">
          <li><a href="https://www.swiggy.com/terms-and-conditions" class="hover:underline">Terms &<br> Conditions</a></li>
          <li><a href="https://www.swiggy.com/cookie-policy" class="hover:underline">Cookie Policy</a></li>
          <li><a href="https://www.swiggy.com/privacy-policy" class="hover:underline">Privacy Policy</a></li>
        </ul>
      </div>
  
      <!-- Available In Section -->
      <div>
        <h3 class="font-bold">Available in:</h3>
        <ul class="space-y-3">
          <li><a href="https://www.swiggy.com/city/bangalore" class="hover:underline">Bangalore</a></li>
          <li><a href="https://www.swiggy.com/city/gurgaon" class="hover:underline">Gurgaon</a></li>
          <li><a href="https://www.swiggy.com/city/hyderabad" class="hover:underline">Hyderabad</a></li>
          <li><a href="https://www.swiggy.com/city/delhi" class="hover:underline">Delhi</a></li>
          <li><a href="https://www.swiggy.com/city/mumbai" class="hover:underline">Mumbai</a></li>
          <li><a href="https://www.swiggy.com/city/pune" class="hover:underline">Pune</a></li>
        </ul>
      </div>
  
      <!-- Life at Swiggy Section -->
      <div>
        <h3 class="font-bold">Life at Swiggy</h3>
        <ul class="space-y-3">
          <li><a href="https://blog.swiggy.com/" class="hover:underline">Explore With Swiggy</a></li>
          <li><a href="https://blog.swiggy.com/category/swiggy-restaurant-awards/" class="hover:underline">Swiggy News</a></li>
          <li><a href="https://blog.swiggy.com/category/snackables/campaigns/" class="hover:underline">Snackables</a></li>
        </ul>
        <!-- Social Links -->
        <h3 class="font-bold pt-4 md:pt-12">Social Links</h3>
        <div class="container mx-auto flex pt-4">
            <div class="flex space-x-4">
                <a href="https://www.linkedin.com/company/swiggy-in/" class="text-gray-500 hover:text-gray-700"><img src="linkedin.png"></a>
                <a href="https://www.instagram.com/swiggyindia/?hl=en" class="text-gray-500 hover:text-gray-700"><img src="insta.png"></a>
                <a href="https://www.facebook.com/swiggy.in/" class="text-gray-500 hover:text-gray-700"><img src="facebook.png"></a>
                <a href="https://in.pinterest.com/swiggyindia/" class="text-gray-500 hover:text-gray-700"><img src="pinterest.png"></a>
                <a href="https://twitter.com/Swiggy?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="text-gray-500 hover:text-gray-700"><img src="x.png"></a>
            </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <hr class="border-gray-400 border-t-2 my-4">
    <!-- Download App Section -->
    <div class="container mx-auto px-4 mt-4 md:mt-14 flex items-center space-x-4">
        <p class="text-gray-700 text-xl font-bold">
          For better experience, download the Swiggy app now
        </p>
        <a href="https://itunes.apple.com/in/app/id989540920?referrer=utm_source%3Dswiggy%26utm_medium%3Dhomepage" class="hover:opacity-80">
          <img src="appStore.png" alt="App Store" class="h-12 md:h-14" />
        </a>
        <a href="https://play.google.com/store/apps/details?id=in.swiggy.android&referrer=utm_source%3Dswiggy%26utm_medium%3Dheader" class="hover:opacity-80">
          <img src="googlePlay.png" alt="Google Play" class="h-12 md:h-14" />
        </a>
      </div>      
  </footer>
  